body {
  background-color: #27445d;
}
.title {
  color: #27445d;
}

.navGris {
  background-color: #e9e9e9;
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.divGris {
  background-color: #e9e9e9;
  padding: 50px;
  border-radius: 10px;
  width: 60vw;
  margin: auto;
}

.liActividad {
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline;
  color: #27445d;
  font-size: medium;
  list-style-type: none;
}

.btnStyle {
  color: white;
  text-decoration: none;
}
