{% extends 'toDo/layout.html'%} {% block content %}
<br />
<br />
<br />
<div class="container text-center">
  <div class="row align-items-center divGris">
    <h1 class="title">Lista de mis actividades</h1>
    <!-- <ul
      style="
        padding: 20px;
        display: inline;
        width: 300px;
        align-items: center;
        margin: auto;
      "
    > -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tarea</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for tarea in tareas %}
        <!-- <div
            class="container text-center"
            style="margin: 25px auto; width: 300px"
          > -->
        <tr>
          <th scope="row">-</th>
          <td>{{tarea}}</td>
          <td>
            <button class="btn btn-secondary">
              <a href="{% url 'editar' tarea.id %}" class="btnStyle">Editar</a>
            </button>
          </td>
          <td>
            <button class="btn btn-danger">
              <a href="{% url 'eliminar' tarea.id %}" class="btnStyle"
                >Eliminar</a
              >
            </button>
          </td>
        </tr>

        <!-- <li class="liActividad">{{tarea}}</li>
            <button class="btn btn-danger">
              <a href="{% url 'eliminar' tarea.id %}" class="btnStyle"
                >Eliminar</a
              >
            </button>
            <button class="btn btn-secondary">
              <a href="{% url 'editar' tarea.id %}" class="btnStyle">Editar</a>
            </button> -->
        <!-- </div> -->
        {% endfor %}
      </tbody>
    </table>
    <!-- </ul> -->
  </div>
</div>

{% endblock %}
